@font-face {
    font-family: "Bariol";
    src: url("bariolbold.ttf");
}
@font-face {
    font-family: "Bariolthin_italic";
    src: url("bariolthin_italic.ttf");
}
@font-face {
    font-family: "cooper";
    src: url("cooperm.ttf");
}
Body {
    background: linear-gradient(#ffffff, #cd0ef3);
    min-height: 100vh;
}
/* header */
* {
    margin: 0;
    padding: 0;
}
h1 {
    float: left;
    margin-left: 10px;
    font-family: "Bariol";
    clear: both;
}
h1 a {
    text-decoration: none;
}
h1 a:visited {
    color: black;
}
h1 a:hover {
    color: plum;
}
nav {
    float: right;
    margin-top: 10px;
}
nav ul li {
    display: inline-block;
    margin-right: 10px;
    font-family: "Bariolthin_italic";
}
nav ul li a {
    text-decoration: none;
}
nav ul li a:visited {
    color: black;
}
nav ul li a:hover {
    color: plum;
}
/* DIV */
.about {
    clear: both;
    padding-top: 100px;
    padding: 20px;
    text-align: center;
    font-family: "cooper";
}
svg {
    width: 50%;
    height: 50%;
}
.svg {
    margin-left: 40px;
}
#coeur {
    animation-name: coeur;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes coeur {
    0% {
       opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
#firework {
    animation-name: firework;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes firework {
    0% {
        transform: translateY(0px) scaleY(1);
        opacity: 0.6;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        transform: translateY(-100px) scaleY(1.5);
        opacity: 0;
    }
}