@font-face {
    font-family: "Bariol";
    src: url("bariolbold.ttf");
}
@font-face {
    font-family: "Bariolthin_italic";
    src: url("bariolthin_italic.ttf");
}
@font-face {
    font-family: "cooper";
    src: url("cooperm.ttf");
}
Body {
    background: linear-gradient(#ffffff, #cd0ef3);
    min-height: 100vh;
}
/* header */
* {
    margin: 0;
    padding: 0;
}
h1 {
    float: left;
    margin-left: 10px;
    font-family: "Bariol";
    clear: both;
}
h1 a {
    text-decoration: none;
}
h1 a:visited {
    color: black;
}
h1 a:hover {
    color: plum;
}
nav {
    float: right;
    margin-top: 10px;
}
nav ul li {
    display: inline-block;
    margin-right: 10px;
    font-family: "Bariolthin_italic";
}
nav ul li a {
    text-decoration: none;
}
nav ul li a:visited {
    color: black;
}
nav ul li a:hover {
    color: plum;
}
/* DIV */
.places {
    clear: both;
    margin-left: 150px;
    font-family: "cooper";
    font-size: 30px;
}
p {
    font-size: 15px;
    padding-right: 100px;
    padding-top: 20px;
}
.svg {
    width: 50%;
    height: 50%;
    margin-left: 300px;
}

